.main {
  margin-top: 30px;
  .menu {
    max-width: 239px;
    float: left;
    & label {
      padding: 12px 25px;
      background-color: #6b8897;
      float: left;
    }
    & input {
      display: none;
      &:checked+label {
        background-color: $activeNav;
      }
    }
    input[id="tab-1"]:checked~.content-tab .tab-1,
    input[id="tab-2"]:checked~.content-tab .tab-2 {
      display: block;
    }
    .content-tab {
      position: relative;
      clear: both;
      height: 100vh;
      ul {
        position: absolute;
        display: none;
        margin-top: 30px;
        li {
          border: none;
          outline: none;
          cursor: pointer;
          color: $white;
          background-color: #6c8998;
          border-bottom: 2px solid #e5e7e9;
        }
      }
    }
    .active {
      border-bottom: none;
      background-color: #a2b6c1;
    }
    .menu-item {
      width: 100%;
      background: #f7f7f7;
      padding: 7px 10px;
      height: 40px;
      border-bottom: 1px solid $white;
      text-align: left;
      a {
        display: inline-block;
        padding-left: 35px;
        padding-top: 5px;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        font-size: 13px;
        background: url('./img/computer-mouse.svg') no-repeat 0 0;
      }
      &:hover {
        background-color: #d8dfe3;
      }
    }
  }
  .slider {
    float: left;
    margin-left: 20px;
  }
}