#container {
  overflow: hidden;
}

h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

ul.thumbs {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

ul.thumbs a {
  display: block;
  position: relative;
  text-decoration: none;
  text-align: center;
}

ul.slides {
  overflow: hidden;
  clear: both;
}

ul.slides,
ul.slides li,
ul.slides a,
ul.slides img {
  width: 100%;
  height: 350px;
  position: relative;
}

ul.slides li {
  position: absolute;
  z-index: 50;
}

ul.thumbs li a {
  position: relative;
}

ul.thumbs li a span {
  font-size: 11px;
  font-weight: 400;
  color: #6a6f7a;
}

ul.thumbs li a:hover::before {
  top: -20px;
  left: 60px;
  content: "\A";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #007bff transparent;
  position: absolute;
  z-index: 1000;
}

ul.thumbs li:first-child a:hover span {
  left: -3px;
}

ul.thumbs li:first-child a:hover span:before {
  left: 25px;
}

/*Animation for sliding*/
@keyframes slide {
  0% {
    left: 500px;
  }

  100% {
    left: 0px;
  }
}

ul.slides li:target {
  z-index: 100;
  -webkit-animation-name: slide;
  -moz-animation-name: slide;
  animation-name: slide;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/*Not target element*/
@keyframes noTarget {
  0% {
    z-index: 75;
  }

  100% {
    z-index: 75;
  }
}

ul.slides li:not(:target) {
  -webkit-animation-name: noTarget;
  -moz-animation-name: noTarget;
  animation-name: noTarget;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  animation-iteration-count: 1;
}