$black: #000;
$grey-c: #ccc;
$white: #fff;
$font-size-12: 12px;
$orange:#f8a454;
$blue:#44bee9;
$gray-light:#e5e8ea;
$pink:#ed5a9c;
$cian: #009dd4;
$activeNav: #a2b6c1;
$activeNavMarketPlace:#f5f5f5;
$linkColor:#0b92c1;
$textMarket:#6a6f7a;
$orange: #f68d29;